/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.content {
  height: 100vh;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #6368cf;
}

.content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-height: 800px;
  position: relative;
}

.content .iteration {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: 14px;
  color: #fff;
  background-color: #333;
  padding: 5px 10px;
}

.controler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fdc83b;
  padding: 30px 15px;
}

.controler .card {
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

.controler .card label {
  margin: 5px 0;
  display: block;
}

.controler .card input {
  padding: 8px 15px;
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.controler .card input:focus {
  outline: none;
}

.controler .card input[type=button] {
  width: 100%;
  background-color: #75bc37;
  font-size: 16px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  color: #fff;
  cursor: pointer;
}

.controler .card input[type=button]:hover {
  background-color: #00a19a;
}

.controler .card input[type=button]:disabled {
  display: none;
}

.controler .run {
  display: none;
}

.controler button {
  display: block;
  border-radius: 999px;
  border: none;
  margin: 10px 0;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  background-color: #6368cf;
  color: #fff;
  font-size: 16px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.controler button:hover {
  background-color: #45578f;
}

.controler button:focus {
  outline: none;
}

.controler li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 24px;
}

.controler li figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
          flex: 0 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controler li figure img {
  border: 2px solid #fff;
  border-radius: 50%;
}

.bee {
  position: relative;
  height: 100%;
  background-color: #f6f6f6;
}

.bee .canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  opacity: 0;
  opacity: 1;
}

.bee .background {
  height: 100%;
}

.bee li {
  position: absolute;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0.5%;
  height: 0.5%;
  background-color: #555;
}

.bee li::before {
  position: absolute;
  -webkit-transform: translateY(calc(-100% - 5px)) translateX(-50%);
          transform: translateY(calc(-100% - 5px)) translateX(-50%);
  font-size: 12px;
  white-space: nowrap;
  color: #999;
}

.bee .NectarSource li {
  background-color: #fca042;
  z-index: 1;
  width: 2.5%;
  height: 2.5%;
}

.bee .EmployedBee li {
  background-color: #75bc37;
  z-index: 2;
  width: 1.5%;
  height: 1.5%;
}

.bee .OnLooker li {
  background-color: #1778f2;
  z-index: 3;
  width: 0.5%;
  height: 0.5%;
}

.bee .DelectSource li {
  background-color: #ccc;
  z-index: 3;
  width: 0.5%;
  height: 0.5%;
}

.bee .BestSource li {
  background-color: #ef4431;
  z-index: 10;
  width: 2%;
  height: 2%;
}

.bee .test li {
  width: 15px;
  height: 15px;
  z-index: 10;
}

.bee .re li {
  background-color: green;
}

.chart-area {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}
/*# sourceMappingURL=style.css.map */